// https://brand.suse.com/
$primary: #0c322c;
$secondary: #192072;
$accent: #fe7c3f;

// $dark      : #1D1D1D

// $positive  : #21BA45
// $negative  : #C10015
// $info      : #31CCEC
// $warning   : #F2C037

// default shadow are a bit too much
$shadow-color: #666;
$dark-shadow-color: #444;
